<ion-header [translucent]="true">
  <ion-toolbar class="home-toolbar">

    <ion-segment [ngModel]="selectedSegment" value="discover">
      <ion-segment-button value="discover">
        <ion-label>Discover</ion-label>
      </ion-segment-button>
      <ion-segment-button value="following">
        <ion-label>Following</ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding-top">

  <div class="floating-search-bar" (click)="openAdvancedSearch()">
    <ion-icon name="search-outline" class="search-icon"></ion-icon>
    <span class="placeholder-text">Search videos or creators...</span>
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
    
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="selectedSegment === 'discover' || selectedSegment === 'following'">
    <div id="vid_lst" *ngFor="let row of videos; index as idx">
        <h2 class = "gallery_title">{{titles[idx].title}}</h2>

        <div class="gallery" >
           <!-- <ion-card *ngFor="let video of row" onclick="location.href='/tab-vid';" class = "vid_container"> -->
            <ion-card *ngFor="let video of row" (click)="navigateToVideo(video.id)" class="vid_container">
              <img class = "thumbnail" [src]="video.thumbnailUrl" alt="{{ video.title }}" />
              <div class = "description">
                <h2>{{ video.title }}</h2>
                <p>{{ video.description }}</p>
              </div>
            </ion-card>
      </div> 

    </div>
  </div>
</ion-content>