ion-title{
    text-align: center;
}
    
.vid_container img.thumbnail {
    display: block; 
    width: 100%; 
    height: auto; 
    aspect-ratio: 16 / 9;//make everything conform to aspect ratio
    object-fit: cover; 
    flex-shrink: 0; 
    margin-top:15px;
}
.vid_container{
    background-color: #666;
    border-radius: 8px 8px 8px 8px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;

    margin-bottom: 35px;

    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
}
.gallery_title{
    margin-left:5%;
}
.gallery{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
