<ion-header [translucent]="true">
  <ion-toolbar class="home-toolbar">

    <ion-segment [ngModel]="selectedSegment" value="discover">
      <ion-segment-button value="discover">
        <ion-label>Discover</ion-label>
      </ion-segment-button>
      <ion-segment-button value="following">
        <ion-label>Following</ion-label>
      </ion-segment-button>
    </ion-segment>

  <ion-buttons slot="end">
    <ion-button fill="clear" class="search-button" (click)="onSearchClick()">
      <ion-icon name="search-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button> Start </ion-button>
      </ion-buttons>
    
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="selectedSegment === 'discover' || selectedSegment === 'following'">
    <div id="vid_lst" *ngFor="let row of videos; index as idx">
        <h2 class = "gallery_title">{{titles[idx].title}}</h2>

        <div class="gallery" >
            <div *ngFor="let video of row" onclick="location.href='/tab-vid';" class = "vid_container">
              <img class = "thumbnail" [src]="video.thumbnailUrl" alt="{{ video.title }}" />
              <div class = "description">
                <h2>{{ video.title }}</h2>
                <p>{{ video.description }}</p>
            </div>
        </div>
      </div> 

    </div>
  </div>
</ion-content>