<ion-content [fullscreen]="true" class="ion-padding profile-page">

  <!-- profile_pic -->
  <div class="avatar-section">
    <img src="assets/icon/profile_pic.png" class="profile_pic" />
    <h2 class="username">username</h2>
    <p class="tagline">#acoustic guitar</p>
  </div>

  <!-- user information -->
  <div class="stats">
    <div class="stat-block">
      <div class="number">100</div>
      <div class="label">Following</div>
    </div>
    <div class="stat-block">
      <div class="number">20</div>
      <div class="label">Followers</div>
    </div>
    <div class="stat-block">
      <div class="number">100</div>
      <div class="label">Likes</div>
    </div>
  </div>

  <!-- post list -->
  <div class="post-list">

    <ion-card class="post-card #1">
      <div class="post-card-horizontal">
          <!-- image section -->
          <img src="assets/icon/post1.jpg" alt="Post Image #1" />

          <!-- text section -->
           <div class="post-text">
              <ion-card-title>[sheet] annie. / wave to earth</ion-card-title>
              <p class="hashtags">#acousticguitar#fullsongcover · 3 days ago</p>
              <div class="post-actions">
                <span>❤️ 100</span>
                <span>💬 20</span>
              </div>
            </div>
      </div>
    </ion-card>

    <ion-card class="post-card #2">
      <div class="post-card-horizontal">
          <!-- image section -->
          <img src="assets/icon/post2.png" alt="Post Image #2" />

          <!-- text section -->
           <div class="post-text">
              <ion-card-title>[sheet] Dear Heartless / EggPlantEgg</ion-card-title>
              <p class="hashtags">#guitar#solochallenge · 2 weeks ago</p>
              <div class="post-actions">
                <span>❤️ 100</span>
                <span>💬 20</span>
              </div>
            </div>
      </div>
    </ion-card>

    <ion-card class="post-card #3">
      <div class="post-card-horizontal">
          <!-- image section -->
          <img src="assets/icon/post3.jpg" alt="Post Image #3" />

          <!-- text section -->
           <div class="post-text">
              <ion-card-title>[sheet] Start / Depapepe</ion-card-title>
              <p class="hashtags">#guitar#fullsongcover · 1 month ago</p>
              <div class="post-actions">
                <span>❤️ 100</span>
                <span>💬 20</span>
              </div>
            </div>
      </div>
    </ion-card>

    
  </div>
</ion-content>
