.search-section ion-item {
    border: 1px solid #ddd;
    border-radius: 16px;
    margin-top: 12px;
    --padding-start: 12px;
    --inner-padding-end: 12px;
  }
  
  .search-btn {
    margin-top: 24px;
    border-radius: 30px;
    font-weight: 600;
  }
  