<ion-header>
  <ion-toolbar class="editor-header">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closeEditor()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" class="next-circle" (click)="exportVideo()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="editor-content">
  <!-- VIDEO PREVIEW -->
  <div class="video-wrapper">
    <video #videoPlayer [src]="videoSrc" playsinline preload="metadata"></video>
    <!-- Template image preview in the same position -->
    <div
      class="template-video-preview"
      *ngIf="selectedTemplateImage"
      [style.top.px]="templateImagePosition.top"
      [style.left.px]="templateImagePosition.left"
    >
      <img [src]="selectedTemplateImage" alt="Template Preview" />
    </div>
    <!-- Crop rectangle overlay -->
    <div
      class="crop-rectangle"
      [style.left.px]="cropRect.x"
      [style.top.px]="cropRect.y"
      [style.width.px]="cropRect.width"
      [style.height.px]="cropRect.height"
    >
      <!-- Resize handles -->
      <div class="resize-handle top-left" (mousedown)="startResize($event, 'top-left')" (touchstart)="startResize($event, 'top-left')"></div>
      <div class="resize-handle top-right" (mousedown)="startResize($event, 'top-right')" (touchstart)="startResize($event, 'top-right')"></div>
      <div class="resize-handle bottom-left" (mousedown)="startResize($event, 'bottom-left')" (touchstart)="startResize($event, 'bottom-left')"></div>
      <div class="resize-handle bottom-right" (mousedown)="startResize($event, 'bottom-right')" (touchstart)="startResize($event, 'bottom-right')"></div>
    </div>
  </div>

  <!-- TIMELINE FOR TRIMMING -->
  <div class="timeline-container">
    <div class="timeline" (mousedown)="startTrim($event, 'scrub')" (touchstart)="startTrim($event, 'scrub')">
      <!-- Thumbnails for the video timeline -->
      <div class="timeline-thumbnails" *ngIf="thumbnailsLoaded; else loadingThumbnails">
        <img *ngFor="let thumbnail of thumbnails" [src]="thumbnail" class="thumbnail" />
      </div>
      <ng-template #loadingThumbnails>
        <div class="loading-thumbnails">
          Loading thumbnails...
        </div>
      </ng-template>
      <!-- Trimmed area overlays -->
      <div
        class="trimmed-area trimmed-start"
        [style.width]="(trimStart / duration) * 100 + '%'"
      ></div>
      <div
        class="trimmed-area trimmed-end"
        [style.width]="((duration - trimEnd) / duration) * 100 + '%'"
      ></div>
      <!-- Selected range border -->
      <div
        class="selected-range"
        [style.left]="(trimStart / duration) * 100 + '%'"
        [style.width]="((trimEnd - trimStart) / duration) * 100 + '%'"
      ></div>
      <!-- Playhead -->
      <div
        class="playhead"
        [style.left]="((currentTime - trimStart) / (trimEnd - trimStart)) * 100 + '%'"
        *ngIf="currentTime >= trimStart && currentTime <= trimEnd"
      ></div>
      <!-- Trimming handles -->
      <div class="trim-handles">
        <div class="trim-start" (mousedown)="startTrim($event, 'start')" (touchstart)="startTrim($event, 'start')">
          <span class="trim-time">{{ trimStart | number:'1.1-1' }}s</span>
        </div>
        <div class="trim-end" (mousedown)="startTrim($event, 'end')" (touchstart)="startTrim($event, 'end')">
          <span class="trim-time">{{ trimEnd | number:'1.1-1' }}s</span>
        </div>
      </div>
    </div>
  </div>

  <!-- TOOLBAR -->
  <div class="editor-tools">
    <!-- Play/Pause -->
    <ion-button fill="clear" (click)="togglePlay()">
      <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
    </ion-button>

    <!-- Speed control -->
    <ion-button fill="clear" (click)="toggleSpeed()">
      <ion-icon name="speedometer-outline"></ion-icon>
    </ion-button>

    <!-- Rotate clip -->
    <ion-button fill="clear" (click)="rotateClip()">
      <ion-icon name="repeat-outline"></ion-icon>
    </ion-button>

    <!-- Volume control -->
    <div class="volume-control">
      <ion-button fill="clear" (click)="toggleMute()">
        <ion-icon [name]="getVolumeIcon()"></ion-icon>
      </ion-button>
      <div class="volume-slider-container" [class.show-slider]="isVolumeSliderVisible">
        <div class="volume-value">{{ volumeLevel }}%</div>
        <ion-range
          [(ngModel)]="volumeLevel"
          (ionChange)="onVolumeChange($event)"
          min="0"
          max="100"
          step="1"
          class="volume-slider"
          [snaps]="false"
          [pin]="false"
          [ticks]="false"
          debounce="0">
        </ion-range>
      </div>
    </div>

    <!-- Add this button to the editor-tools section -->
    <ion-button (click)="openVideoStitchingModal()" fill="clear">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<!-- Add this modal template -->
<ion-modal #stitchingModal [isOpen]="isStitchingModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Stitch Videos</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeStitchingModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let video of selectedVideos; let i = index">
          <ion-thumbnail slot="start">
            <video [src]="video.preview" style="width: 100%; height: 100%;"></video>
          </ion-thumbnail>
          <ion-label>
            <h2>Video {{i + 1}}</h2>
            <p>{{video.file.name}}</p>
          </ion-label>
          <ion-button slot="end" fill="clear" color="danger" (click)="removeVideo(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item *ngIf="selectedVideos.length < 5">
          <ion-button expand="block" (click)="addVideo()">
            <ion-icon name="add-outline" slot="start"></ion-icon>
            Add Video
          </ion-button>
        </ion-item>
      </ion-list>

      <ion-button expand="block" 
                  [disabled]="selectedVideos.length < 2 || isStitching"
                  (click)="startStitching()">
        <ion-spinner *ngIf="isStitching"></ion-spinner>
        <span *ngIf="!isStitching">Stitch Videos</span>
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>